<%=form_for @profesores, :html => {:class => "custom"} do |x|%>
<div class="panel">
<div class="row">
	<div class="large-5 columns left">
		<label>Seleccione Estado</label>
		<%=x.collection_select :estado_id, Estado.all,:id,:nombre%>

	</div>

		<div class="large-5 columns left">
		<label>Seleccione instituciòn</label>
		<%=x.collection_select :prf_institucione, Institucione.all,:id,:nombre%>

	</div>

</div>

<div class="row">
	<div class="large-10 columns">
		<%=x.submit "registrar",:class => "button right"%>

	</div>

</div>
<%end%>
</div>