<section class="" id="modules">
 

    <div class="row">
     
   <%=link_to(grupos_path) do%>
        <article class="large-4 columns left">
            <img src="/image/category/5.png">
            <label>MI GRUPO</label>

        </article>

        <%end%>

        <%=link_to(necesidades_grupos_path) do%>

         <article class="large-4 columns left">
            <img src="/image/category/comunal.png">
            <label>Necesidades</label>

        </article>

        <%end%>

   

        <article class="large-4 columns left">
            <img src="/image/category/6.png">
            <label>Ayuda</label>

        </article>
 </div>

 <div class="row">
     <%=link_to(logout_authentications_path,:method => :delete) do%>
        <article class="large-4 columns right">
            <img src="/image/category/fuera.png">
            <label>Salir</label>

        </article>

       

        <%end%>
         <div >
        <br><br><br><br><br>
             <article >
            <li style="float:right; color:white; font-size:30px;"> <label class="texrl" style="padding:8px;">MODULO: ESTUDIANTE</label> </li>

        </article>

 </div>



</section>