<section class="" id="modules">
 

    <div class="row">
     
   <%=link_to(new_user_path) do%>
        <article class="large-4 columns left">
            <img src="/image/category/5.png">
            <label>Registrar</label>

        </article>

        <%end%>

        <%=link_to(new_authentication_path) do%>

         <article class="large-4 columns left">
            <img src="/image/category/entrar.png">
            <label>Entrar</label>

        </article>

        <%end%>

   

        <article class="large-4 columns left">
            <img src="/image/category/6.png">
            <label>Ayuda</label>

        </article>
 </div>




</section>